#contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0,0.9 );
}
a{
    color:white;
    text-decoration: none;
}
.bi-globe-central-south-asia{
    color: rgb(12, 12, 136);
}
.bi-globe-central-south-asia:hover{
    color: blue;
}
.bi-telephone-fill{
    color: rgb(1, 108, 1);
}
.bi-telephone-fill:hover{
    color: rgb(12, 187, 12);
}
.bi-envelope-at-fill{
    color: brown;
}
.bi-envelope-at-fill:hover{
    color: rgb(212, 86, 86);
}